@model CarControl.Entities.DataAccess.Customer
@{ ViewData["Title"] = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <form asp-controller="Customer" asp-action="Create" method="post">
        <div class="col-md-6 col-sm-6">
            <div>
                <label asp-for="FullName">Full Name: </label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <div style="margin: 10px">
                <button type="submit" class="form-control" id="addCustomer" name="submit" value="Create" style="background-color: #74d14c">Add Customer</button>
            </div>
        </div>
    </form>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
